<div class="container">

  <table>
    <tr>
      <th>Food</th>
      <th>Mood</th>
      <th>Rating</th>
    </tr>

    <% @data.each do |recommendation| %>
      <tr>
        <td><%= recommendation.food.name %></td>
        <td><%= recommendation.mood.name %></td>
        <td><%= recommendation.rating %></td>
      </tr>
    <% end %>

  </table>

</div>
