<tr>
  <td class="single line">
    <%= recommendation.food.name %>
  </td>
  <td class="single line">
    <%= recommendation.mood.name %>
  </td>
  <td>
    <div class="ui star rating icon" data-rating="<%= recommendation.rating.round %>" data-max-rating="5">
      <% recommendation.rating.round.times do |i| %>
        <i class="icon active"></i>
      <% end %>
    </div>
  </td>
</tr>