<h3>Have Fun and Rate</h3>

<div class="container">


<div class="row">




  <div class="col-sm-2">
    
  </div>

  <div class="col-sm-7">
    
  </div>

  <div class="col-sm-3">
    
  </div>


  </div>
</div>