<!-- in controller, method to provide random 10 mood-food combos to rate -->

<div class="container">

  <div class="row">

    <% @foods.each do |food| %>
      <div class="col-lg-4">
        food.name
      </div>
    <% end %>

    <% @moods.each do |mood| %>
      <div class="col-lg-4">

      </div>
    <% end %>

    <div class="col-lg-4">

    </div>

  </div>

</div>

<!-- button to give another random 10 food-mood combos to rate - same method as when page is first rendered -->
