<!-- in controller, method to provide random 10 mood-food combos to rate -->

<div class="container">

  <table>
    <tr>
      <th>Food</th>
      <th>Mood</th>
      <th>Rating</th>
    </tr>

    <% @recommendations.each do |rec| %>
      <tr>
        <td><%= rec.food.name %></td>
        <td><%= rec.mood.name %></td>
        <td><%= rec.rating %></td>
      </tr>
    <% end %>

  </table>

</div>

<!-- button to give another random 10 food-mood combos to rate - same method as when page is first rendered -->
