<h3>Have Fun and Rate</h3>

#in controller, method to provide random 10 mood-food combos to rate

<div class="container">

  <div class="row">

    <div class="col-sm-2">

    </div>

    <div class="col-sm-7">

    </div>

    <div class="col-sm-3">

    </div>

  </div> #row

</div> #container

#button to give another random 10 food-mood combos to rate - same method as when page is first rendered
