<h3>Have Fun and Rate</h3>

<table>
  <tr>
    <th>Food</th>
    <th>Mood</th>
    <th>Rating</th>
  </tr>

  <tr>
    <td><%= @recommendation.food.name %></td>
    <td><%= @recommendation.mood.name %></td>
    <td><button>Rate</button></td
  </tr>
</table>
