<div class="row">
  <div class="column">
    <div class="ui welcome-message">
      <h2 class="ui header">Have Fun and Rate
      </h2>
    </div>
  </div>
</div>

<table class="ui celled padded table">
  <thead>
    <th>Food</th>
    <th>Mood</th>
    <th>Rating (rate by clicking a star)</th>
  </tr></thead>
  <tbody>
    <%= render @recommendations || "There are no recommendations. Make aome if you'd like." %>
  </tbody>
</table>

<div class="ui orange inverted segment">
  <div class="ui orange inverted form">
    <div class="three fields">
      <div class="field">
        <input placeholder="First Name" type="text">
      </div>
      <div class="field">
        <input placeholder="Last Name" type="text">
      </div>
      <div class="field">
        <div class="ui submit button">Submit</div>
      </div>
    </div>  
  </div>
</div>


<style type="text/css">
  .ui.orange.inverted.segment {
  
  }
</style>
