<table class="ui inverted blue table">
  <thead>
    <tr>
    <th>Restaurant</th>
    <th>Price Range</th>
    <th>Category</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Restaurant Rating</th>
    </tr>
  </thead>
  <tbody>
    <%= render @restaurants %>
  </tbody>
</table>