/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.ui.modal {
  padding-bottom: 3em;
}

.main-recommendation {
  margin: 5% auto;
  padding: 3%;
  max-width: 600px;
  border-radius: 5px;
  text-align: center;
  color: white;
  background-image: linear-gradient(to right bottom, rgba(255,52,16, 1), rgba(0,255,0,0.2));
}

.ui.stackable.column.grid {
  max-width: 600px;
  margin: 0 auto;
}

.special.cards .card {
  background-image: linear-gradient(to right bottom, rgba(255,252,216, 1), rgba(200,200,200,0.2)) !important;
}

.special.cards .card .image {
  background: ;
  height: 10em;
}

.special.cards .card .image h3 {
  text-align: center;
  margin-top: 30%;
}