<div class="container">

<h3>Welcome to Yumoo, <%= @user.username.capitalize %>!</h3>

<h6>It's <%= Time.now.strftime("%A")%>
<% now = Time.now
today = Date.today.to_time
morning = today.beginning_of_day
noon = today.noon
evening = today.change( hour: 17 )
night = today.change( hour: 20 )
tomorrow = today.tomorrow
if (morning..noon).cover? now %>
morning 
<% elsif (noon..evening).cover? now  %>
afternoon
<% elsif (evening..night).cover? now  %>
evening
<% elsif (night..tomorrow).cover? now  %>
night</h6>  
<% end%>
<h6>What do you feel like?</h6>

<!-- MOODS -->

<!-- MOOD BUTTON as BUTTON -->
<% @moods.each do |mood| %>
<%= button_to mood.name, mood_path, :method => "get" %>
<%end%>

<!-- FOODS RECOMMENDATIONS -->
<%%>


</div>
